body {
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
  font-size: 22px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde3;
  border-radius: 10px;
  background: linear-gradient(
    25deg,
    rgba(34, 193, 195, 1) 21%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}

.weather-temperature strong {
  color: white;
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
  margin-right: -5px;
}

.weather-temperature .units {
  position: relative;
  font-size: 30px;
  color: white;
  top: -16px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 18px;
  opacity: 0.6;
}

.forecast-temperature {
  font-size: 15px;
}

.temperature-min {
  opacity: 0.6;
}
